/**
 * @name XoXolCord
 * @author ArtZab#8299
 * @version 0.1
 * @description A theme made in DNR
 * @source https://github.com/artzab1103/XoXolCord
 * @invite Ha65jZNS5x
 * @donate https://www.paypal.com/donate/?hosted_button_id=847XC8CRWZMWJ
 * @website https://github.com/artzab1103/XoXolCord
 * @authorId 174868361040232448
 * @BDEditor Frosted Glass
*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue:wght@100;300;400;500;700&display=swap');
@import url('https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');

:root {
  --background-image: url('https://i.imgur.com/sjG6zcg.jpg');
  --background-image-blur: 6px;
  --background-image-size: cover;
  --background-image-position: center;
  --popout-image: transparent;
  --popout-image-blur: 5px;
  --popout-image-size: contain;
  --popout-image-position: center;
  --overlay-image: transparent;
  --overlay-image-blur: 5px;
  --overlay-image-size: cover;
  --overlay-image-position: center;
  --home-button-image: url('https://i.imgur.com/lLBlMfI.png');
  --home-button-size: contain;
  --home-button-position: center;
  --serverlist-brightness: 0.82;
  --left-brightness: 0.68;
  --middle-brightness: 0.48;
  --right-brightness: 0.48;
  --overlay-brightness: 0.64;
  --gradient-primary: 255,191,0;
  --gradient-secondary: 63,81,181;
  --link-colour: #00B8FF;
  --scrollbar-colour: rgb(255,0,0,0.25);
  --gradient-direction: 0deg;
  --tint-colour: 255,0,135;
  --tint-brightness: 0;
  --font: Bebas Neue;
  --window-padding: 0px;
  --window-roundness: 16px;
  --update-notice-1: none;
}

/* Any custom CSS below here */


